[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
pandas = '*'
nltk = '*'
sklearn = '*'
numpy = '*'
jupyter = '*'
seaborn = '*'

[requires]
python_version = "3.6"
